* {
  padding: 0px;
  margin: 0px;
}

.content {
  width: 1920px;
  margin: 0 auto;
  padding: 0px;
}

nav, img{
  width: 100%;
  max-width: 1920px;
  max-height: 700px;
  object-fit: cover;
  object-position: top;
}

.container_ball {
  position: relative;
  top: -500px;
  left: 500px;
  width: 200px;
  height: 400px;
  background-color: transparent;
}

.ball {
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(180deg, #1cabdf, #24d8c6);
}

@keyframes ballcing {
  0%{
    margin-top: 0px;
    background: linear-gradient(180deg, #1cabdf, #24d8c6);
  }
  50%{
    margin-top: 200px;
    transform: rotate(180deg)
  }
  100%{
    margin-top: 0px;
    background: linear-gradient(180deg, #1cabdf, #24d8c6);
  }
}


.ball {
  animation-name: ballcing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}